@import '../../styles/utils.scss';

.wrapper {
  background-color: var(--fourth-color);
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: var(--sidebar-width);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    //transform
    transform: skewY(-15deg);
    position: relative;
  }
}

.menuItem {
  position: relative;
  background-color: var(--secondary-background-color);
  padding: 2rem;
  height: 8rem;
  width: 25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  filter: brightness(1);

  display: flex;
  justify-content: left;
  align-items: center;
  &::before {
    position: absolute;
    content: '';
    width: 4rem;
    height: 100%;
    background-color: var(--secondary-background-color);
    filter: brightness(0.6);
    left: -4rem;
    top: 0;
    //transform
    transform-origin: right;
    transform: skewY(45deg);
  }

  &:after {
    position: absolute;
    content: ' ';
    position: absolute;
    content: '';
    width: 25rem;
    height: 4rem;
    background-color: var(--secondary-background-color);
    filter: brightness(0.9);
    top: -4rem;
    left: 0rem;
    //transform
    transform-origin: bottom;
    transform: skewX(45deg);
  }

  &:not(.active):hover {
    cursor: pointer;
    background-color: var(--primary-color);
    transform: translateX(30px) translateY(30px);
    transition: 0.2s;

    &::after {
      transition: 0.2s;
      background-color: var(--primary-color);
    }

    &::before {
      transition: 0.2s;
      background-color: var(--primary-color);
    }
  }

  //Active link
}
.wrapper .menu {
  @for $i from 1 through 8 {
    li:nth-child(#{$i}) {
      z-index: 10 - $i;
      &::after {
        box-shadow: -(100px+ (6-$i) * 80px) (100px+ (6-$i) * 80px) 10px rgba($color: #000, $alpha: 0.2);
      }
    }
  }
}

.menu::before {
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: lightblue;
  background-image: radial-gradient(circle at top, lightblue, 60%, #000);
  position: absolute;
  z-index: 1000;
  transform: skew(15deg);
  top: -30rem;
  left: 16rem;

  animation: move 3s ease-in-out 1s infinite alternate, drop 1s ease-in 0s 1 forwards;
  box-shadow: -0.1rem 0.5rem 10px #000;
}

@keyframes move {
  from {
    left: 16rem;
  }
  to {
    left: 0rem;
  }
}

@keyframes drop {
  from {
    top: -30rem;
  }
  to {
    top: -3rem;
  }
}
.itemIcon ~ .itemTitle {
  margin-left: 1rem;
}

.itemIcon svg {
  width: 30px;
}

.itemTitle {
  user-select: none;
}

.active {
  background-color: var(--secondary-color);
  transform: translateX(15px) translateY(15px);
  &::after {
    background-color: var(--secondary-color);
  }

  &::before {
    background-color: var(--secondary-color);
  }

  &:hover {
    pointer-events: none;
  }
}

.deactive {
  background-color: var(--primary-background-color);
  transform: translateX(0) translateY(0);
  transition: 0.2s;
  &::after {
    background-color: var(--primary-background-color);
    transition: 0.2s;
  }

  &::before {
    background-color: var(--primary-background-color);
    transition: 0.2s;
  }
}
.mobileBtn {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  cursor: pointer;
  svg path {
    color: darkgray;
    opacity: 0.9;
  }
  &:hover {
    filter: brightness(0.8);
  }
}
@media only screen and (max-width: $md-size) {
  .menuItem {
    width: 4rem;
    padding: 0.5rem;
    &::before {
      width: 3rem;
      left: -3rem;
    }
    &::after {
      width: 4rem;
      height: 3rem;
      top: -3rem;
    }
  }
  .itemTitle {
    display: none;
  }

  .itemIcon {
    margin-left: unset;
  }
  .menu::before {
    left: -0.5rem;
    animation: move 1s ease-in-out 1s infinite alternate, drop 1s ease-in 0s 1 forwards;
  }

  @keyframes move {
    from {
      left: -0.5rem;
    }
    to {
      left: 2rem;
    }
  }
}

button.mobileBtnActive {
  transform: rotate(180deg);
  transition: 0.5s;
  & + .wrapper {
    animation: fadeIn 200ms linear;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: $sm-size) {
  .mobileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: rotate(0deg);
    transition: 0.5s;
  }
}

.visibleMenu {
  .wrapper {
    display: block;
    position: fixed;
  }
}
