@import '../../../styles/utils.scss';
.wrapper {
  --main-card-color: lightblue;
  position: relative;
  max-width: 30rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--main-card-color);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  * {
    z-index: 1;
  }
  h2 {
    text-align: center;
    margin: 2rem auto;
  }
  &::before {
    position: absolute;
    background-color: var(--main-card-color);
    content: ' ';
    width: calc(100% + 2rem * 2);
    height: 10rem;
    z-index: 0;
    top: 0;
    left: -2rem;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 60%;
  }
}

.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo {
  margin: 1rem 4rem;
  height: 5rem;
}

.childrenWrapper {
  padding: 2rem 0.5rem 2rem 3rem;
  height: fit-content;
}

.detailBtn {
  margin: 1rem 25% 0 25%;
  font-size: 1.5rem;
  background-color: var(--main-card-color);
  border: 1px solid var(--main-card-color);
  box-shadow: 0 0 10px var(--main-card-color);
  border-radius: 999px;
  &:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

.slideIn {
  animation: slide 800ms ease-in-out;
}

@keyframes slide {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: ($md-size + 300px)) {
  .wrapper {
    padding: 0rem;
  }
  .detailBtn {
    margin-bottom: 1rem;
  }
  .logo {
    max-width: 100%;
  }
}

@media only screen and (max-width: $sm-size) {
  .wrapper {
    justify-content: center;
    margin: 1.5rem auto;
    max-width: unset;
  }
}
