.wrapper {
  position: relative;
  background-color: #fff;
  width: fit-content;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  //   box-shadow: 0 0 0 1000vw rgba($color: #000, $alpha: 0.9);
  border: 1px solid #fff;
  z-index: 3000;
  user-select: none;

  animation: animate 200ms ease-in;
}

@keyframes animate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.background {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.9);
  z-index: 2000;
}

.image {
  height: 100%;
}

.exit {
  position: absolute;
  top: -2rem;
  right: -1.5rem;
  font-size: 3rem;
  svg path {
    color: lightgray;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
}
