.wrapper {
  background-color: var(--primary-background-color);
  margin-right: var(--sidebar-width);
  height: 100%;
  overflow-y: auto;
  flex: 1;
  // line-height: 100rem; //Test
}

.container {
  width: 1000px;
  max-width: 90%;
  background-color: var(--main-container-color);
  margin: 25vh auto;
  padding: 0rem;
  border-radius: 3rem;

  //Set color
  * {
    color: var(--primary-background-color);
  }
}

//About me
.aboutme {
  position: relative;
  margin-left: 2rem;
  padding: 2rem;
  // height: calc(75vh - 3rem);
  border-bottom: 2px solid var(--primary-color);
  * {
    font-weight: 600;
  }
  h1,
  u {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      color: var(--primary-color);
    }
  }

  p {
    line-height: 3rem;
  }
}

.coffee {
  margin-top: 4rem;
}

.avatar {
  position: absolute;
  width: 28rem;
  aspect-ratio: 1;
  right: 5rem;
  top: -20rem;
  border-radius: 999px;
  border: 0.8rem solid var(--main-container-color);
}

//backgrounds
.backgrounds {
  padding: 2rem;
  // height: 100vh;
  // max-height: fit-content;
  margin-left: 2rem;
  margin-top: 2rem;
  //border-bottom: 2px solid var(--primary-color);

  * {
    font-weight: 600;
  }
  h1 {
    font-weight: 500;
    font-size: 4rem;
  }
  img {
    width: 50%;
    margin: 3rem auto 3rem auto;
  }
}
.educationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hintIcon {
  margin-left: 0.5rem;
  cursor: pointer;
}
.education {
  position: relative;
  justify-self: center;
  padding: 2rem;
  border: 1px solid var(--primary-background-color);
  border-radius: 1rem;
  margin: 2rem auto 8rem auto;

  background-color: #fff;
  box-shadow: -1rem 0 20px var(--primary-background-color);
  // animation: rotate 5s infinite alternate;
  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-background-color);
  }
  p {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@keyframes rotate {
  from {
    transform: skewY(-10deg);
    box-shadow: -1rem 1rem 20px var(--primary-background-color);
  }
  to {
    transform: skewY(10deg);
    box-shadow: -1rem -1rem 20px var(--primary-background-color);
  }
}

@keyframes glow {
  0% {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
  }

  25% {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px;
  }

  50% {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
  }

  75% {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px;
  }

  100% {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
}
.achievements {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  font-size: 2rem;
  height: 40rem;
}

//Experiences
.experiences {
  background-color: lightcoral;
  padding-bottom: 2rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 1rem 4rem 1rem 4rem;
    padding: 1rem 0;
  }
}
.cards {
  padding: 2rem;
  margin: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.techStackWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 2rem;
  margin-top: 4rem;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 1rem;
  h2 {
    text-align: center;
  }
}
.techStack {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  gap: 1rem;
}

.slider {
  margin-top: 5rem;
}
