@import '../../../styles/utils.scss';

.wrapper {
  --main-card-color: #646567;
  background-color: #f6f6f6;
  position: relative;
  max-width: 30rem;
  background-color: var(--main-container-color);
  border-radius: 0.5rem;
  border: 1px solid var(--main-card-color);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  user-select: none;
  overflow: hidden;
  flex: 1 1;
  * {
    z-index: 1;
  }
  h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0.1rem;
    background-color: var(--main-card-color);
  }
}

.childrenWrapper {
  padding: 2rem 1rem 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  img {
    max-height: 4rem;
    margin: 1rem;
  }
  justify-content: flex-start;
}

@media only screen and (max-width: ($md-size + 300px)) {
  .wrapper {
    h2 {
      font-size: 1.5rem;
      padding: 2rem 0.1rem;
      height: 8rem;
    }
  }
  .childrenWrapper {
    padding: 2rem 1rem 2rem 1rem;
    img {
      max-height: 3rem;
      max-width: 90%;
      margin: 1rem;
    }
  }
}

@media only screen and (max-width: $sm-size) {
  .wrapper {
    justify-content: center;
    margin: 1rem auto;
    max-width: unset;
    h2 {
      height: unset;
    }
  }
  .childrenWrapper {
    justify-content: center;
    align-items: center;
    img {
      max-height: 4rem;
    }
  }
}
