.wrapper {
  background-color: var(--primary-background-color);
  margin-right: var(--sidebar-width);
  height: 100%;
  overflow-y: auto;
  flex: 1;
  // line-height: 100rem; //Test
}

.container {
  width: 1000px;
  max-width: 80%;
  background-color: var(--main-container-color);
  margin: 25vh auto;
  padding: 3rem;
  border-radius: 3rem;

  //Set color
  * {
    color: var(--primary-background-color);
  }
}

//About me
.aboutme {
  position: relative;
  margin-left: 2rem;
  height: calc(75vh - 3rem);
  border-bottom: 2px solid var(--primary-color);
  * {
    font-weight: 600;
  }
  h1,
  u {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    span {
      color: var(--primary-color);
    }
  }

  p {
    line-height: 3rem;
  }
}

.coffee {
  margin-top: 4rem;
}

.avatar {
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  right: 10rem;
  top: -20rem;
  border-radius: 999px;
  border: 0.8rem solid var(--main-container-color);
}
