.wrapper {
  grid-area: content;
  background-color: var(--primary-background-color);

  line-height: 100rem;
  margin-right: var(--sidebar-width);
  overflow-y: scroll;
  height: 100%;

  flex: 1;
}
