$len: 3;
.wrapper {
  --number-of-items: 4;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  //Test
  height: 30rem;
}

.select {
  position: absolute;
  display: none;
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(5rem * var(--number-of-items));
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 11;
}

.bar {
  width: 4rem;
  height: 1rem;
  background-color: lightgray;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
  transition: 500ms;
  &:hover {
    width: 6rem;
    filter: brightness(0.9);
  }
}
.container {
  width: calc(100% * var(--number-of-items));
  height: 100%;
  display: flex;
  @for $i from 0 through 10 {
    .slide:nth-child(#{$i}) {
      z-index: #{$i + 1};
    }
    #pagi#{$i}:checked + .slide#{$i} {
      margin-left: calc(-#{$i} * calc(100% / var(--number-of-items)));
    }
  }
}

.slide {
  background-color: #fff;
  height: 100%;
  width: calc(100% / var(--number-of-items));
}
// //test
// #pagi0:checked + .slide0 {
//   margin-left: 0;
// }
// #pagi1:checked + .slide1 {
//   margin-left: -33.33%;
// }
// #pagi2:checked + .slide2 {
//   margin-left: -66.67%;
// }

.slideWrapper {
  height: 100%;
}
