@import '../../../styles/utils.scss';
.wrapper {
  --number-of-items: 4;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  // border-radius: 1rem;
  //Test
  height: 30rem;
}

.select {
  position: absolute;
  display: none;
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(5rem * var(--number-of-items));
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 11;
}

.bar {
  width: 4rem;
  height: 1rem;
  background-color: lightgray;
  opacity: 0.5;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
  transition: 500ms;
}

.barActive {
  width: 6rem;
  filter: brightness(0.8);
}

.container {
  width: calc(100% * var(--number-of-items));
  height: 100%;
  display: flex;
  // @for $i from 0 through 10 {
  //   .slide:nth-child(#{$i}) {
  //     z-index: #{$i + 1};
  //   }
  //   #pagi#{$i}:checked ~ .slide0 {
  //     margin-left: calc(-#{$i} * calc(100% / var(--number-of-items)));
  //     transition: 0.5s;
  //   }
  // }
}

.slide {
  background-color: var(--primary-color);
  height: 100%;
  width: calc(100% / var(--number-of-items));
  overflow: hidden;
  border-radius: 2rem;
}
// //test
// #pagi0:checked + .slide0 {
//   margin-left: 0;
// }
// #pagi1:checked + .slide1 {
//   margin-left: -33.33%;
// }
// #pagi2:checked + .slide2 {
//   margin-left: -66.67%;
// }

.slideWrapper {
  --background-color: #fff;
  background-color: var(--background-color);
  height: 100%;
}

.slideContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.subtitle {
  margin-left: 4rem;
}
.description {
  padding: 1rem 0;
  margin-left: 4rem;
}
.imageWrapper {
  height: 100%;
  width: 30%;
  display: flex;
}
//style={{ height: '100%', width: '30rem' }}
//style={{ display: 'flex', justifyContent: 'space-between', height: '100%' }

@media only screen and (max-width: $md-size) {
  .imageWrapper {
    display: none;
  }
}

@media only screen and (max-width: $sm-size) {
  .wrapper {
    height: 40rem;
  }
}
